@import '../../styles/variables.scss';

.product {
    width: 100%;
    max-width: 250px;
    margin: 10px;
    box-shadow: 0 0px 15px 0px $color-dark-grey;
    padding: 15px;

    &-img {

        img {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product {
        max-width: 100%;
    }
}