$color-red: #ed2d2f;
$color-dark-grey: #58595b;
$color-grey: #8c8d94;
$color-light-grey: #8c8d9440;
$color-white: #fff;
$color-green: #37bdae;
$color-blue: #3498db;

//font-size
$font-size-largest: 25px;
$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-smaller: 14px;
$font-size-small: 16px;

$font-weight-medium: 500;
$font-weight-large: 600;