@import "../../styles/variables.scss";

.filter-container {
    padding: 20px;
    min-width: 200px;
}

.filter {
    flex-direction: column;
    padding: 10px 0;
    border-top: 1px solid $color-light-grey;

    &-title {
        font-weight: $font-weight-medium;
        font-size: $font-size-medium;
        padding-bottom: 5px 0;
    }

    &-actions {
        padding: 10px 0;
        justify-content: space-around;
    }
}

.show-filter {
    display: block !important;
}

.filter-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .filter-icon {
        display: flex;
        justify-content: flex-end;
        color: $color-dark-grey;
        padding: 10px 20px;
    }

    .filter-container {
        display: none;
    }
}
