@import '../../styles/variables.scss';

.pagination {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-light-grey;
    align-items: center;
    
    &-title {
        color: $color-grey;
        font-size: $font-size-smaller;
    }

    &-pages {
        .currrent-page {
            color: $color-white;
            background: $color-blue;
            outline: none;
        }
        .btn {
            margin: 5px;
            padding: 5px 10px;
        }
    }

}